.jumbotron{
    background-color: cornflowerblue;
    color: black;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: cornflowerblue;
    margin-bottom: 0px;
}

.btn{
    width: 100%;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 8px 2px 8px;
    margin-top: 15px;
}
